div.calculator-container {
    margin: 20vh auto;
    width: 320px;
    border: solid 1px #ccc;
    border-radius: 5px;
    div.displayed-value {
        background-color: black;
        color: white;
        min-height: 25px;
        font-weight: bold;
        font-size: 16px;
        padding: 10px;
        text-align: end;
    }
    div.row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 0;
        div.column {
            display: flex;
            flex-direction: column;
            button.mat-flat-button:not(:last-child) {
                margin-bottom: 10px;
            }
            button.mat-flat-button.equal {
                flex-grow: 2;
            }
        }
    }
}
