<div class="calculator-container">
    <div id="displayedValue"
         class="displayed-value">{{displayedValue}}</div>

    <div class="row">
        <div class="column">
            <button mat-flat-button
                    color="accent"
                    id="operatorPlus"
                    (click)="handleOperator('+')">+</button>
            <button mat-flat-button
                    color="accent"
                    id="numberSeven"
                    (click)="handleNumber('7')">7</button>
            <button mat-flat-button
                    color="accent"
                    id="numberFour"
                    (click)="handleNumber('4')">4</button>
            <button mat-flat-button
                    color="accent"
                    (click)="handleNumber('1')">1</button>
            <button mat-flat-button
                    color="accent"
                    (click)="handleNumber('0')">0</button>
        </div>

        <div class="column">
            <button mat-flat-button
                    color="accent"
                    (click)="handleOperator('-')">-</button>
            <button mat-flat-button
                    color="accent"
                    (click)="handleNumber('8')">8</button>
            <button mat-flat-button
                    color="accent"
                    (click)="handleNumber('5')">5</button>
            <button mat-flat-button
                    color="accent"
                    (click)="handleNumber('2')">2</button>
            <button mat-flat-button
                    color="accent"
                    (click)="handleDot()">.</button>
        </div>

        <div class="column">
            <button mat-flat-button
                    color="accent"
                    (click)="handleOperator('*')">*</button>
            <button mat-flat-button
                    color="accent"
                    (click)="handleNumber('9')">9</button>
            <button mat-flat-button
                    color="accent"
                    (click)="handleNumber('6')">6</button>
            <button mat-flat-button
                    color="accent"
                    (click)="handleNumber('3')">3</button>
            <button mat-flat-button
                    color="warn"
                    (click)="clear()">AC</button>
        </div>

        <div class="column">
            <button mat-flat-button
                    color="accent"
                    (click)="handleOperator('/')">/</button>
            <button mat-flat-button
                    color="primary"
                    class="equal"
                    (click)="compute()">=</button>
        </div>
    </div>
</div>
